@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* shaired style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}
.btn-primary {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  width: 180px;
  height: 64px;
  border-radius: 8px;
  background: #ff900e;
  border: none;
  outline: none;
}
/* header section style */
header {
  max-width: 1920px;
  background-color: rgba(255, 144, 14, 0.1);
  padding: 0px 240px;
  margin: 0 auto;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.nav-title {
  color: #131313;
  text-align: center;
  font-size: 45px;
  font-weight: 700;
}
nav ul {
  display: flex;
}
nav li {
  list-style: none;
}
nav > ul > li > a {
  text-decoration: none;
  color: #424242;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin-right: 30px;
}

/* banner section */

.banner-container {
  max-width: 800px;
  text-align: center;
  margin: 50px auto;
}
.banner-title {
  color: #131313;
  text-align: center;
  font-size: 64px;
  font-weight: 700;
}
.banner-description {
  color: #727272;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  padding: 40px 0;
}
.banner-img {
  width: 100%;
}

/* feature section style */
.feature-section {
  max-width: 1920px;
  padding: 0px 280px;
  margin: 50px auto;
  background: #fff;
}

.feature-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
}
.feature-img img {
  width: 100%;
}
.feature-img {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.feature-text {
  width: 50%;
}
.feature-text h1 {
  color: #131313;
  font-size: 45px;
  font-weight: 700;
}

.feature-text p {
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding: 24px 0;
}
.quick {
  color: #727272;
  font-size: 45px;
  font-weight: 500;
}
.feature {
  color: #ff900e;
  font-size: 45px;
  font-weight: 700;
}

/* love and enjoy section */

.enjoy {
  max-width: 1920px;
  padding: 0px 240px;
  margin: 150px auto;
  position: relative;
}
.enjoy-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.enjoy-text {
  width: 45%;
  padding-right: 20;
}

.enjoy-title {
  width: 468px;
  color: #131313;
  font-size: 45px;
  font-weight: 700;
  padding-right: 50px;
  border-left: 2px solid #ff900e;
}
.enjoy-description {
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  padding: 20px 0;
}
.enjoy-img {
  width: 48%;
}
.enjoy-img img {
  width: 110%;
}
.enjoy-elements {
  margin-left: 20px;
}
.enjoy-shadow {
  box-shadow: 10px 10px 10px gray;
  margin: 15px 0;
}
.enjoy-shadow h3 {
  color: #131313;
  font-size: 20px;
  font-weight: 600;
}
.enjoy-shadow p {
  color: #727272;
  font-size: 16px;
  font-weight: 400;
}

.experience {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ff900e;
  width: 200px;
  height: 100px;
  border-radius: 5px;
  color: #fff;
  position: absolute;
  right: 500px;
  bottom: -15px;
}
.experience h1 {
  color: #fff;
  font-size: 35px;
  font-weight: 700;
}
/* responsive style */
/* mobile devices */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  header nav {
    flex-direction: column;
  }
  /* feature responsive style */
  .feature-section {
    padding: 20px;
  }
  .feature-container {
    flex-direction: column-reverse;
  }
  .feature-text {
    width: 100%;
  }
  .feature-img {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}
/* tab or medium device */

@media screen and (min-width: 577px) and (max-width: 991px) {
  header {
    padding: 50px;
  }
  header nav {
    flex-direction: column;
  }

  /* feature responsine style */
  .feature-section {
    padding: 20px;
  }
  .feature-container {
    flex-direction: column-reverse;
  }
  .feature-text {
    width: 100%;
  }
  .feature-img {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
